.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.toggle{
    display: flex;
    flex-direction: column;
}

.buttons {
  display: flex;
  gap: 25px;
}
