<mat-card>
    <mat-card-header class="header">
        <mat-card-title>
            Edit Category
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form class="form" [formGroup]="editCategoryForm">
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    @if (editCategoryForm.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <div class="toggle">
                    <mat-label>Status</mat-label>
                    <mat-slide-toggle class="example-margin" formControlName="status"
                        (change)="changeCategoryStatus()">
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="buttons">
                <button mat-stroked-button color="warn" (click)="closeDialog()">Cancel</button>
                <button mat-flat-button color="warn" (click)="updateCategory()">Save</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>