:host ::ng-deep mat-card-content {
  width: calc(100vw - 300px);
}

.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  width: 100%;
}
