<div class="container">


    <mat-card class="dashboard-container">
        <mat-card-title>Dashboard</mat-card-title>
        <mat-card-content>
            <mat-card class="subcards">
                <mat-card-content>Total Category</mat-card-content>
                <mat-card-content>5</mat-card-content>
                <button mat-flat-button color="warn">View Category</button>
            </mat-card>
            <mat-card class="subcards">
                <mat-card-content>Total Product</mat-card-content>
                <mat-card-content>18</mat-card-content>
                <button mat-flat-button color="warn">View Product</button>
            </mat-card>
            <mat-card class="subcards">
                <mat-card-content>Total Bill</mat-card-content>
                <mat-card-content>5</mat-card-content>
                <button mat-flat-button color="warn">View Bill</button>
            </mat-card>
        </mat-card-content>
    </mat-card>

</div>