:host ::ng-deep mat-card {
  text-align: center;
}

:host ::ng-deep mat-card-header {
  background-color: darkorange;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
