.container {
  height: calc(100vh - 150px);
  width: calc(100vw - 300px);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.manageorder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
