<div class="container">
    <mat-card class="manageorder-container">
        <mat-card-content class="manageorder-top">
            <mat-card-title>manageorder</mat-card-title>
            <mat-card>
                <button mat-flat-button color="warn">Submit & Get Bill</button>
            </mat-card>
        </mat-card-content>
    </mat-card>

    <mat-card class="customer-details-container">
        <mat-card-content class="customer-details-top">
            <mat-card-title>Customer-Details</mat-card-title>
            <form class="example-form" [formGroup]="customerForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Name">
                    @if (customerForm.get('name')?.hasError('name') && !customerForm.get('name')?.hasError('required'))
                    {
                    <mat-error>Please enter your Name</mat-error>
                    }
                    @if (customerForm.get('name')?.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    @if (customerForm.get('email')?.hasError('email') &&
                    !customerForm.get('email')?.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (customerForm.get('email')?.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>contactNumer</mat-label>
                    <input type="text" matInput formControlName="contactNumber" placeholder="Contact Number">
                    @if (customerForm.get('contactNumber')?.hasError('contactNumber') &&
                    !customerForm.get('contactNumber')?.hasError('required')) {
                    <mat-error>Please enter a valid Contact Numer</mat-error>
                    }
                    @if (customerForm.get('contactNumber')?.hasError('required')) {
                    <mat-error>Contact Number is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Payment Method</mat-label>
                    <mat-select formControlName="paymentMethod">
                        <mat-option value="one">Crypto</mat-option>
                        <mat-option value="two">Visa</mat-option>
                    </mat-select>
                    @if (customerForm.get('paymentMethod')?.hasError('required')){
                    <mat-error>Please select a PaymentMethod</mat-error>
                    }
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="select-products-container">
        <mat-card-content class="select-products-top">
            <mat-card-title>Select Product</mat-card-title>
            <form class="example-form" [formGroup]="customerForm">

                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" (selectionChange)="loadProducts($event)">
                        @for (category of categoryData; track category.name) {
                        <mat-option [value]="category">{{category.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="product" (selectionChange)="loadProductPriceQuantity($event)">
                        @for (product of productData; track product.name) {
                        <mat-option [value]="product">{{product.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input type="text" matInput formControlName="price" readonly [value]="selectedProductPrice">
                    @if (customerForm.hasError('price') && !customerForm.hasError('required')) {
                    <mat-error>Price databank Error</mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput formControlName="quantity" [value]="selectedProductQuantity">
                    @if (customerForm.hasError('quantity') && !customerForm.hasError('required')) {
                    <mat-error>Quanity is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Total</mat-label>
                    <input type="text" matInput formControlName="price" readonly>
                    @if (customerForm.hasError('total') && !customerForm.hasError('required')) {
                    <mat-error>Total databank Error</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Total</mat-label>
                    <input type="number" matInput formControlName="total" placeholder="0" >
                    @if (customerForm.get('total')?.hasError('total') &&
                    !customerForm.get('total')?.hasError('required')) {
                    <mat-error>Please enter a valid Total</mat-error>
                    }
                    @if (customerForm.get('total')?.hasError('required')) {
                    <mat-error>Total is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

            </form>
            <button mat-flat-button color="warn">add</button>
            <mat-card>
                <button mat-flat-button color="warn">Total Amount</button>
            </mat-card>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <table mat-table class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="Total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
            </ng-container>

            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>

</div>