<h2 mat-dialog-title>Forgot Password?</h2>
<mat-dialog-content>
    <p>Type your Email</p>
    <form [formGroup]="emailForm">
        <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" type="submit" cdkFocusInitial (click)="sendEmail()"
        [disabled]="!emailForm.valid">Send Email</button>
    <button mat-button type="button" (click)="onNoClick()">Close</button>
</mat-dialog-actions>