<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
    </button>
    <span>Cafe Management System</span>
    <span class="example-spacer"></span>


    <ng-container *ngIf="userLogined == false">
        <button mat-button (click)="login()">
            Login
        </button>
        <button mat-button (click)="signup()">
            Signup
        </button>
        <button mat-button (click)="forgotPassword()">
            Forgot Password?
        </button>
    </ng-container>

    <ng-container *ngIf="userLogined == true">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with profile icon"
            [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changePasswordDialog()">Change Password</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

    </ng-container>


</mat-toolbar>