.sidenav-container {
  // height: calc(100vh - 150px);
  // width: 200px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:host ::ng-deep mat-sidenav-container * {
  overflow: hidden;
}

:host ::ng-deep mat-nav-list {
  height: 100%;
  padding: 15px;
  background-color: darkorange;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  padding: 16px;
}
