.sidenav-container {
  height: calc(100vh - 150px);
  width: 200px;
}

::ng-deep mat-nav-list {
    height: 80%;
    width: 200px;
  background-color: darkorange;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  padding: 16px;
}
