// .manage-product-top-container,
// .manage-product-middle-container {
//   width: calc(100vw - 300px);
// }

:host ::ng-deep mat-card {
  width: calc(100vw - 300px);
}

:host ::ng-deep mat-form-field {
  width: 100%;
}

td,
th {
  text-align: center;
}

.manage-product-top-container {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

.action-buttons {
  display: flex;
  align-items: center;
}

// ChatGPT
button {
  position: relative;
  overflow: hidden;
}

.circle-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: grow 1s linear;
  pointer-events: none;
}

@keyframes grow {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 200%;
    height: 200%;
  }
}
