<mat-card>
    <mat-card-header>
        <mat-card-title>
            Change Password
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-container" [formGroup]="passwordForm">
            <!-- Hidden Username Field for Accessibility -->
            <input type="text" matInput formControlName="username" autocomplete="username" hidden>

            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input type="password" matInput formControlName="oldPassword" autocomplete="current-password">
                <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPasswordOne" autocomplete="new-password">
                <mat-error *ngIf="passwordForm.get('newPasswordOne')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Repeat New Password</mat-label>
                <input type="password" matInput formControlName="newPasswordTwo" autocomplete="new-password">
                <mat-error *ngIf="passwordForm.get('newPasswordTwo')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwordForm.get('newPasswordTwo')?.hasError('passwordsMismatch')">
                    Passwords do not <strong>match</strong>
                </mat-error>
            </mat-form-field>

            <div class="button-container">
                <button mat-stroked-button color="warn" [disabled]="passwordForm.invalid">Save</button>
                <button mat-stroked-button color="warn">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>