<mat-card>
    <mat-card-header>
        <mat-card-title>
            Change Password
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-container" [formGroup]="passwordForm">
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input type="password" matInput formControlName="oldPassword">
                @if (passwordForm.get("oldPassword")?.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPasswordOne">
                @if (passwordForm.get("newPasswordOne")?.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Repeat New Password</mat-label>
                <input type="password" matInput formControlName="newPasswordTwo">
                @if (passwordForm.get("newPasswordTwo")?.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>