:host ::ng-deep mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep mat-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  color: white;
}

:host ::ng-deep mat-card-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  padding: 20px;
}

:host ::ng-deep mat-form-field {
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
