<mat-card>
    <mat-card-header>
        <mat-card-title>
            Change Password
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-container" [formGroup]="passwordForm">
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input type="password" matInput formControlName="oldPassword">
                @if (passwordForm.get("oldPassword")?.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="password">
                @if (passwordForm.get("password")?.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <!-- @if (passwordForm.get("confirmPassword")?.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            } -->
            <mat-form-field>
                <mat-label>Repeat New Password</mat-label>
                <input type="password" matInput formControlName="confirmPassword">
                @if (passwordForm.get("confirmPassword")?.hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
                @if (passwordForm.hasError('passwordNotMatching') && passwordForm.get('confirmPassword')?.dirty ) {
                <mat-error>Passwords do not <strong>match</strong></mat-error>
                }
            </mat-form-field>

            <div class="button-container">
                <button mat-stroked-button color="warn">Cancel</button>
                <button mat-stroked-button color="warn" (click)="savePassword()">Save</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>